@charset "utf-8";

#wrap {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: auto;
    background: #000000db;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    width: 100%;
    max-width: 2400px;
    height: auto;
    margin: 44px auto;
}

.footer {
    width: 100%;
    height: auto;
    /*
    border: 1px solid;
*/
    background: #f5f5f7;
}

/*header 시작*/
.header .inner-header {
    width: 100%;
    max-width: 1000px;
    height: 44px;
    margin: 0 auto;

}

.header .inner-header::after {
    content: "";
    display: block;
    clear: both;
}

.header .inner-header span.menu {
    display: block;
    width: 45px;
    float: left;
    display: none;
}

.header .inner-header span.menu:hover {
    cursor: pointer;
}

.header .inner-header span.menu img {
    width: 100%;
    height: auto;
}

.header .inner-header h1.logo {
    width: 11.1111%;
    height: auto;
    float: left;
}

.header .inner-header h1.logo img {
    width: 23%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.header .inner-header .gnb {
    width: 77.7777%;
    height: auto;
    float: left;
}
.header .inner-header .gnb .topMenu{
    width: 100%;
    height: auto;
}
.header .inner-header .gnb .topMenu input {
    display: none;
    width: 100%;
        height: 40px;
        background: #1d1d1f;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border: 0px solid;
        text-indent: 10px;
        font-size: 16px;
        outline: none;
        color: #fff;
}

.header .inner-header .gnb::after {
    content: "";
    display: block;
    clear: both;
}

.header .inner-header .gnb .topMenu> ul > li {
    width: 14.2857%;
    height: auto;
    text-align: center;
    float: left;
    color: #fff;
    line-height: 44px;
    font-size: 12px;
    box-sizing: border-box;
}

.header .inner-header .gnb .topMenu > ul > li:nth-child(7) {
    width: 14.2857%;
    height: auto;
    
}
.header .inner-header .gnb .topMenu > ul > li:nth-child(7):hover{
    cursor: pointer;
}
.header .inner-header .gnb .topMenu > ul > li:nth-child(7) img {
    width: 20%;
    height: auto;
    vertical-align: middle;
}

.header .inner-header .gnb .topMenu > ul > li a {
    display: block;
    color: #fff;
}

.header .inner-header .gnb .topMenu > ul > li .sub {
    display: none;
}

.header .inner-header .gnb .topMenu > ul > li .sub > ul > li {
    line-height: 30px;
    font-size: 11px;
    background: #f00;
}

.header .inner-header .cart {
    width: 11.1111%;
    height: auto;
    float: left;
}

.header .inner-header .cart img {
    width: 20%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 11px;
}
 .header .inner-header span.close {
        display: none; 
        position: fixed;
        width: 16px;
        height: 16px;
        top: 15px;
        left: 15px;
    }

    .header .inner-header span.close:hover {
        cursor: pointer;
    }

    .header .inner-header span.close img{
        width: 100%;
        height: auto;
    }

/*container 시작*/
.container .inner-con {
    width: 100%;
    max-width: 2600px;
    height: auto;
    margin: 0 auto;
    /*
    border: 1px solid;
*/
}

.container .inner-con .topSection {
    width: 100%;
    max-width: 2400px;
    height: auto;
    margin: 0 auto;
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}

.container .inner-con .topSection .topTxt {
    width: 100%;
    max-width: 980px;
    height: auto;
    margin: 0 auto;
    font-size: 10.5px;
}

.container .inner-con .topSection .topTxt {
    text-align: center;
    margin-bottom: 15px;
    padding-top: 15px;
}

.container .inner-con .topSection .topTxt .text {
    line-height: 16px;
}



/*section1 시작*/
.container .section.sec1 {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -1px;
    background: url(../img/sec1-bg.png) no-repeat 50%;
    background-size: cover;
}

.container .section.sec1 .secCon {
    width: 100%;
    margin: 0 auto;
}

.container .section.sec1 .secCon.sec1Txt h1 {
    padding-top: 50px;
    line-height: 77px;
    font-size: 55px;
    color: #fff;

}

.container .section.sec1 .secCon.sec1Txt p {
    line-height: 32px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
}

.container .section.sec1 .secCon.sec1Txt h5 {
    line-height: 37px;
    font-size: 14px;
    color: #555;
}

.container .section.sec1 .secCon.sec1Txt .buttons {
    color: #2997ff;
    font-weight: 700;
    line-height: 46px;
}

.container .section.sec1 .secCon.sec1Txt a {
    color: #2297ff;
}

/*section2 시작*/
.container .section.sec2 {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -1px;
    background: url(../img/sec2-bg.png) no-repeat 50%;
    background-size: cover;
}

.container .section.sec2 .secCon {
    width: 100%;
    margin: 0 auto;
}

.container .section.sec2 .secCon.sec2Txt h1 {
    padding-top: 50px;
    line-height: 77px;
    font-size: 55px;
    color: #000;
}

.container .section.sec2 .secCon.sec2Txt p {
    line-height: 32px;
    font-size: 25px;
    font-weight: 500;
    color: #000;
}

.container .section.sec2 .secCon.sec2Txt h5 {
    line-height: 37px;
    font-size: 14px;
    color: #7b7b7b;
}

.container .section.sec2 .secCon.sec2Txt .buttons {
    color: #2997ff;
    font-weight: 700;
    line-height: 46px;
}

.container .section.sec2 .secCon.sec2Txt a {
    color: #2297ff;
}


/*section3 시작*/
.container .section.sec3 {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: -1px;
    background: url(../img/sec3-bg.png) no-repeat 50%;
    background-size: cover;
}

.container .section.sec3 .secCon {
    width: 100%;
    margin: 0 auto;
}

.container .section.sec3 .secCon.sec3Txt h1 {
    padding-top: 50px;
    line-height: 77px;
    font-size: 55px;
    color: #000;
}

.container .section.sec3 .secCon.sec3Txt p {
    line-height: 32px;
    font-size: 25px;
    font-weight: 500;
    color: #000;
}

.container .section.sec3 .secCon.sec3Txt .buttons {
    color: #2997ff;
    font-weight: 700;
    line-height: 46px;
}

.container .section.sec3 .secCon.sec3Txt a {
    color: #2297ff;
}








.container .section.sec4 {
    width: 100%;
    max-width: 2600px;
    height: auto;
    text-align: center;


}

.container .section.sec4::after {
    content: "";
    display: block;
    clear: both;
}

.container .section.sec4 > ul > li::after {
    content: "";
    display: block;
    clear: both;
}

.container .section.sec4 > ul > li {
    /*
    border: 1px solid;
*/
    width: 50%;
    max-width: 1300px;
    height: 600px;
    float: left;
    box-sizing: border-box;
    letter-spacing: -0.5px;
    border: 10px solid #fff;



}

.container .section.sec4 .inner-sec {
    letter-spacing: -0.5px;
}


.container .section.sec4 .inner-sec h1 {
    padding-top: 50px;
    line-height: 45px;
    font-size: 37px;
    color: #000;
}

.container .section.sec4 .inner-sec p {
    line-height: 33px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.container .section.sec4 .inner-sec h5 {
    line-height: 34px;
    font-size: 17px;
    color: #7b7b7b;
}

.container .section.sec4 .inner-sec .buttons {
    color: #2997ff;
    font-weight: 700;
    line-height: 40px;
    font-size: 15px;
}

.container .section.sec4 .inner-sec a {
    color: #2297ff;
}

.container .section.sec4 > ul > li:nth-child(1) {
    background: url(../img/sec4-bg-01.png) no-repeat 50%;
    background-size: cover;
}

.container .section.sec4 > ul > li:nth-child(2) {
    background: url(../img/sec4-bg-02.png) no-repeat 50%;
    background-size: cover;
}

.container .section.sec4 > ul > li:nth-child(3) {
    background: url(../img/sec4-bg-03.png) no-repeat 50%;
    background-size: cover;
}

.container .section.sec4 > ul > li:nth-child(4) {
    background: url(../img/sec4-bg-04.png) no-repeat 50%;
    background-size: cover;
}

.container .section.sec4 > ul > li:nth-child(5) {
    background: url(../img/sec4-bg-05.png) no-repeat 50%;
    background-size: cover;
}

.container .section.sec4 > ul > li:nth-child(6) {
    background: url(../img/sec4-bg-06.png) no-repeat 50%;
    background-size: cover;
}

.container .section.sec4 > ul > li:nth-child(1) .inner-sec h1 {
    color: #fff;
}

.container .section.sec4 > ul > li:nth-child(1) .inner-sec h5 {
    color: #fff;
    line-height: 25px;
}

.container .section.sec4 > ul > li:nth-child(1) .inner-sec .bletter {
    line-height: 42px;
}

.container .section.sec4 > ul > li:nth-child(2) .inner-sec h1 {
    color: #fff;
}

.container .section.sec4 > ul > li:nth-child(2) .inner-sec p {
    font-weight: 600;
}

.container .section.sec4 > ul > li:nth-child(3) .inner-sec .buttons {
    line-height: 50px;
}

.container .section.sec4 > ul > li:nth-child(4) .inner-sec p {
    font-size: 18px;
    color: #e20101;
    letter-spacing: 2px;
    font-weight: 600;
    line-height: 30px;
}

.container .section.sec4 > ul > li:nth-child(4) .inner-sec h5 {
    color: #000;
}

.container .section.sec4 > ul > li:nth-child(5) .inner-sec h3 {
    color: #fff;
    padding-top: 50px;
}

.container .section.sec4 > ul > li:nth-child(5) .inner-sec h1 {
    background: linear-gradient(to right, #3dfff8, #ef0af2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 30px 0 0;
}

.container .section.sec4 > ul > li:nth-child(5) .inner-sec .buttons {
    color: #fff;
    padding:
}

.container .section.sec4 > ul > li:nth-child(5) .inner-sec .buttons a {
    color: #fff;
}

.container .section.sec4 > ul > li:nth-child(6) .inner-sec h1 {
    margin-bottom: 20px;
}

.container .section.sec4 > ul > li:nth-child(6) .inner-sec p {
    color: #000;
    font-weight: 600;
    line-height: 25px;
}






/*
footer 시작
*/
.footer .inner-fcon {
    width: 100%;
    max-width: 1000px;
    height: auto;
    /* border: 1px solid;*/
    margin: 0 auto;
    padding: 0 15px 5px 15px;
    box-sizing: border-box;
    ;
}

.footer .inner-fcon .con {
    width: 100%;
    height: auto;
    /*border: 1px solid;*/
}

.footer .inner-fcon .con.tfcon .inner-tfcon {
    padding: 17px 0px;
    /*
border: 1px solid;
*/
}

.footer .inner-fcon .con.tfcon .inner-tfcon p {
    /* border: 1px solid;*/
    font-size: 12px;
    letter-spacing: -0.5px;
    color: #86868b;
}

.footer .inner-fcon .con.tfcon .inner-tfcon p.t2 {
    margin: 10px 0;
}

.footer .inner-fcon .con.mfcon {
    margin-bottom: 40px;
}

.footer .inner-fcon .con.mfcon .inner-mfcon .submfcon {
    width: 20%;
    height: auto;
    /*
    border-top: 1px solid;
*/
    box-sizing: border-box;
    float: left;
    font-size: 11px;

    /*    padding: 20px 0 ;*/

}
.footer .inner-fcon .con.mfcon .inner-mfcon .submfcon ul li.fconLi{
        width:100%;
        height: auto;
        border: 0px solid;
        display: block;
    }

.footer .inner-fcon .con.mfcon .inner-mfcon::after {
    content: "";
    clear: both;
    display: block;
}

.footer .inner-fcon .con.mfcon .inner-mfcon .submfcon {
    width: 20%;
}

.footer .inner-fcon .con.mfcon .inner-mfcon .submfcon > ul > li.mtitle {
    font-weight: bold;
    margin-top: 20px
        /*
    border: 1px solid;
*/
    
}
.footer .inner-fcon .con.mfcon .inner-mfcon .submfcon > ul > li.mtitle::after{
    content: "";
    display: block;
    clear: both;
}
.footer .inner-fcon .con.mfcon .inner-mfcon .submfcon > ul > li.mtitle .category{
    float: left;
}
 .footer .inner-fcon .con.mfcon .inner-mfcon .submfcon ul li.mtitle .plusBtn{
     float: right;
        display: none;
     font-size: 15px;
     font-weight: 500;
    }

.footer .inner-fcon .con.mfcon .inner-mfcon .submfcon > ul > li {
    line-height: 25px;
}


.footer .inner-fcon .con.mfcon .inner-mfcon .submfcon > ul > li a:hover {
    text-decoration: underline;
}



.footer .inner-fcon span.line {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background: #555;
    display: block;
}

.footer .inner-fcon .con.bfcon {}


.footer .inner-fcon .con.bfcon .inner-bfcon {
    font-size: 12px;
}

.footer .inner-fcon .con.bfcon .inner-bfcon p {
    margin: 10px 0;
}

.footer .inner-fcon .con.bfcon .inner-bfcon p > a {
    color: #0066cc;
}

.footer .inner-fcon .con.bfcon .inner-bfcon p > a:hover {
    text-decoration: underline;
}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu {
    display: flex;
    flex-flow: row nowrap;
    /*한행만 차지*/
    justify-content: space-between;
    /*균등분할*/
}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu span.copy {
    display: inline-block;
    line-height: 40px;
    width: auto;
    color: #86868b;
    letter-spacing: -1px;
    /*
    border:    1px solid;
*/
}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .siteMap {
    display: inline-block;
    width: 60%;
    line-height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /*
    border: 1px solid;
*/
}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .siteMap span.line2 {
    width: 1px;
    height: 15px;
    background: #86868b;
    display: inline-block;
    margin: 12.5px 10px;
}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .siteMap > a {
    display: inline-block;
    letter-spacing: -1px;

}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .siteMap > a:hover {
    text-decoration: underline;
}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .rfmenu {
    display: inline-block;
    line-height: 30px;
    width: auto;
    text-align: right;
    /*
    border: 1px solid;
*/
    display: flex;
    flex-flow: row nowrap;
    /*한행만 차지*/
    justify-content: flex-end;
}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .rfmenu span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #cfcfcf;
    background: #555;
    margin: 10px 5px;
    background: url(../img/korea.jpg) no-repeat;
    background-size: cover;

}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .rfmenu a {
    display: inline-block;
    line-height: 40px;
    /*
    border: 1px solid;
*/
}

.footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .rfmenu a:hover {
    text-decoration: underline;
}

.footer .inner-fcon .con.bfcon .inner-bfcon .btext {
    color: #999999;
    margin-bottom: 30px;
    font-size: 10px;
}


@media only screen and (max-width:767px) {
    .header {
        background: #000;
    }

    .header .inner-header {
        padding-top: 9px;
        box-sizing: border-box;
        position: relative;
    }

    .header .inner-header span.menu {
        display: block;
        width: 25px;
        margin-left: 10px;
    }

    .header .inner-header span.menu img {
        width: 100%;
        margin: 0 auto;
    }

    .header .inner-header .gnb {
        width: 100%;
        height: 100%;
        padding:10px 45px 0px 45px;
        position: fixed;
        top: 33px;
        left: 0;
        background: #000;
        margin-top: 10px;
        display: none;
        box-sizing: border-box;
    }
    .header .inner-header .gnb .topMenu{
        width: 100%;
        height: auto;
    }
    .header .inner-header .gnb .topMenu input {
        display: block;
    }

    .header .inner-header .gnb .topMenu ul {
        margin: 0 auto;
    }

    .header .inner-header .gnb .topMenu ul li {
        width: 100%;
        margin: 0 auto;
        padding-right: 45px;
        text-align: left;
        font-size: 16px;
        border-bottom: 1px solid #555;
        line-height: 45px;
        color: #f00;
    }

    .header .inner-header .gnb .topMenu ul li:nth-child(7) {
        display: none;
    }

   
    .header .inner-header h1.logo {
        width: 25px;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        margin-left: -15px;
    }

    .header .inner-header h1.logo img {
        width: 100%;
        margin: 0 auto;
        vertical-align: middle;

    }

    .header .inner-header .cart {
        width: 25px;
        float: right;
        margin-right: 10px;
    }

    .header .inner-header .cart img {
        width: 100%;
        margin: 0 auto;
    }

    .footer .inner-fcon span.line {
        display: none;
    }
    .footer .inner-fcon .con.mfcon .inner-mfcon .submfcon ul li.fconLi{
        display: none;
    }
/*
    .footer .inner-fcon .con.mfcon .inner-mfcon .submfcon ul li.fconLi>ul>li>a {
        display: none;
    }
*/

    .footer .inner-fcon .con.mfcon .inner-mfcon .submfcon {
        width: 100%;
    }

    .footer .inner-fcon .con.mfcon .inner-mfcon .submfcon ul li.mtitle {
        border-bottom: 1px solid #d5d5db;
        line-height: 10px;
        padding-bottom: 13px;
        margin-top: 13px;
    }
    .footer .inner-fcon .con.mfcon .inner-mfcon .submfcon > ul > li.mtitle:hover{
        cursor: pointer;
    }
    .footer .inner-fcon .con.mfcon .inner-mfcon .submfcon ul li.mtitle .plusBtn{
        display: block;
    }

    .footer .inner-fcon .con.bfcon .inner-bfcon span.line {
        display: none;
    }

    .footer .inner-fcon .con.bfcon .inner-bfcon .bMenu {
        display: block;
        width: 100%;
        justify-content: flex-start;
        box-sizing: border-box;
    }

    .footer .inner-fcon .con.bfcon .inner-bfcon .bMenu span.copy {
        width: 100%;
    }

    .footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .siteMap {
        width: auto;
        justify-content: left;
    }

    .footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .siteMap a {
        width: auto;
        text-align: left;
    }

    .footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .rfmenu {
        display: block;
        width: auto;
    }

    .footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .rfmenu::after {
        content: "";
        display: block;
        clear: both;
    }

    .footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .rfmenu span.use1 {
        float: left;
        vertical-align: middle;
    }

    .footer .inner-fcon .con.bfcon .inner-bfcon .bMenu .rfmenu a {
        line-height: 40px;
        float: left;
    }
}



@media only screen and (max-width:734px) {
    .container .section.sec1 {
        height: 520px;
        background: url(../img/sec1-bg-change.jpg) no-repeat 50%;
        background-size: cover;
        transition: 0.2s;
    }

    .container .section.sec1 .secCon.sec1Txt h1 {
        padding-top: 35px;
        line-height: 55px;
        font-size: 40px;
    }

    .container .section.sec1 .secCon.sec1Txt p {
        font-size: 20px;
        line-height: 25px;
    }

    .container .section.sec1 .secCon.sec1Txt h5 {
        line-height: 37px;
        font-size: 14px;
    }

    .container .section.sec1 .secCon.sec1Txt a {
        font-size: 13px;
    }


    .container .section.sec2 {
        height: 520px;
        background: url(../img/sec2-bg.png) no-repeat 50%;
        background-size: cover;
    }

    .container .section.sec2 .secCon.sec2Txt h1 {
        padding-top: 35px;
        line-height: 55px;
        font-size: 40px;
    }

    .container .section.sec2 .secCon.sec2Txt p {
        line-height: 25px;
        font-size: 20px;
    }

    .container .section.sec2 .secCon.sec2Txt h5 {
        line-height: 37px;
        font-size: 14px;
    }

    .container .section.sec2 .secCon.sec2Txt a {
        font-size: 13px;
    }

    .container .section.sec3 {
        height: 520px;
        background: url(../img/sec3-bg.png) no-repeat 50%;
        background-size: cover;
    }

    .container .section.sec3 .secCon.sec3Txt h1 {
        padding-top: 35px;
        line-height: 55px;
        font-size: 40px;
    }

    .container .section.sec3 .secCon.sec3Txt p {
        line-height: 25px;
        font-size: 20px;
    }

    .container .section.sec3 .secCon.sec3Txt a {
        font-size: 13px;
    }

    .container .section.sec4 > ul > li {
        width: 100%;
    }

    .container .section.sec4 .inner-sec h1 {
        padding-top: 35px;
        line-height: 55px;
        font-size: 35px;
    }

    .container .section.sec4 ul li:nth-child(5) h1 {
        line-height: 40px;
        font-size: 30px;
    }

    .container .section.sec4 .inner-sec p {
        line-height: 25px;
        font-size: 13px;
    }

    .container .section.sec4 .inner-sec h5 {
        line-height: 30px;
        font-size: 15px;
    }

    .container .section.sec4 .inner-sec .buttons {
        line-height: 46px;
    }

    .container .section.sec4 .inner-sec a {
        font-size: 13px;
    }

}
